<style>
    img {
	margin-left: auto;
    margin-right: auto;
    width: 80%;  
	/*text-align: center;*/
	/*display: inline;*/
	/*position: relative;*/
	/*right: 20px;*/
    }

    p {
    text-align: center;
    font-size: 24px;
    font-family: arial;
    }
    
    h1 {
    text-align: center;
    text-decoration: underline;
    }
</style>

<h1 class= "text-center"><strong>About Us</strong></h1>
<p>We are dedicated to finding great connections for all of our Gennin, Chuunin, and Jounin's who just feel like
there is more to life than ninjustsu. There is a whole world of internet and wonder at waiting at their fingertips!</p>

<div class= "text-center">
<img src="http://img08.deviantart.net/7e05/i/2013/284/7/f/naruto_sage_mode_by_guardianmo-d6q1966.png" width="854" height="1494">
</div>

