<!DOCTYPE Html>
<head>
    <title>SaaS afrass</title>    
</head>
<body>

<div class="jumbotron text-center">
    <h1>Welcome to Konoha Boogie!</h1>
    <h3>A membership website where ninjas can meet web developers</h3>
    <h4>忍者は、 Web開発者を満たすことができる会員制サイト</h4>
</div>

<div class="text-center">
    <img src="http://static.planetminecraft.com/files/resource_media/screenshot/1130/Konoha_236633.jpg" width="720" height="580">
</div>





</body>